/**
 * Colors
 */

/**
 * Color Name Finder:
 * http://chir.ag/projects/name-that-color/
 */

$colorValues = {
  white:            #fff,
  black:            #000,
  stack:            #979897,
  lochmara:         #0078cf
}

$colorUseCases = {
  text:             $colorValues.white,
  textSecondary:    $colorValues.stack,
  textBg:           $colorValues.black,
  statusBarBg:      $colorValues.lochmara
}

$colors = merge($colorValues, $colorUseCases);
