@require 'mixins/webfont'

@font-face
  webfont('Fira Code', 'fira-code', 'light-300', 400)

// @font-face
//   webfont('Fira Code', 'fira-code', 'regular-400', 300)

@font-face
  webfont('Fira Code', 'fira-code', 'medium-500', 700)

// @font-face
//   webfont('Fira Code', 'fira-code', 'bold-700', 700)
